h1 {
	margin: .1em 0;
	font-size: 1.5em;
}

.flat-table {
	display: block;
	font-family: sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 100%;
	overflow: auto;
	width: auto;
}

.flat-table th {
	background-color: gray;
	color: white;
	font-weight: Bold;
	padding: 10px 10px;
	text-align: center;
}

.flat-table td {
	background-color: rgb(238, 238, 238);
	color: rgb(111, 111, 111);
	padding: 5px 5px;
	text-align: left;
}

.flat-table td:hover {
	background-color: #C0C0C0;
	cursor: pointer;
}

#header {
	background-color: gray;
	color: white;
	text-align: center;
	padding: 2px;
}

#page-list {
	max-height: 480px;
	overflow: auto;
	padding-left: 20px;
}

#body {
	border: 2px solid;
	background-color: #eeeeee;
	max-height: 600px;
	overflow: auto;
	padding: 10px;
}

#nav {
	#position: absolute;
	#max-height: 500px;
	#border: 1px blue solid;	
	max-height: 100%;
	background-color: #eeeeee;
	min-width: 20%;
	max-width: 20%;
	float: left;
	padding: 2px;
	text-align: center;
	overflow: auto;
	display: block;
}

#section {
	#border: 1px blue solid;
	min-width: 80%;
	max-width: 80%;
	min-height: 600px;
	float: left;
	padding: 2px;
}

.page-canvas-table {
	width: 100%;
	min-height: 600px;
	
}

#footer {
	background-color: gray;
	max-height: 500px;
	overflow: auto;
	padding: 20px;
}

#content_tree {
	max-height: 500px;
	background-color: gray;
	width: 25%;
	float: left;
	text-align: left;
}

#content_table_div {
	position: absolute;
	left: 26%;
	background-color: gray;
	clear: both;
	float: right;
	text-align: left;
}

.cont-table {
	display: block;
	font-family: sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 100%;
	width: 100%;
}

.cont-table th {
	background-color: gray;
	color: white;
	font-weight: Bold;
	font-size: 1.5em;
	text-align: center;
}

.cont-table td {
	border: 1px solid;
	background-color: rgb(238, 238, 238);
	color: rgb(111, 111, 111);
	padding: 10px 10px 0px 10px;
	font-size: 1em;
	text-align: left;
}

.cont-table td:hover {
	background-color: #C0C0C0;
	cursor: pointer;
}

#zoom_canvas {
	border: 1px black solid;
	box-shadow: 5px 5px 10px #1e1e1e;
}

.highlight {
	font-weight: Bold;
    color: blue;
}

